@media screen and (max-width: 1312px){
  body {
    font-size: .9em;
  }
}
@media screen and (max-width: 1023px) {
 body {
   font-size: .75em;
 }
}
@media screen and (max-width: 767px) {
  body {
    font-size: .58em;
  }
}
@media screen and (max-width: 599px) {
  body {
    font-size: .5em;
  }
  .font-number {
    font-size: 0.2em;
  }
}